body{
	text-align: center;
	padding: 5%;
}

.recipe-item {
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.recipe-title{
	display: inline-block;
	text-align: left;
	padding-right: 10px;
	width: 400px;
}

.recipe-image{
	display: inline-block;;
	right: 0;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 4px;
    border: 1px solid #000;
}

.star{
	font-size: 25px;
    padding-right: 15px;
    color: #337ab7;
    cursor: pointer;
}

.link{
	top:30px;
	left:30px;
	position: absolute;
}